<phpunit bootstrap="./test/bootstrap.php" colors="true" backupGlobals="false">
    <testsuites>
        <testsuite>
            <directory suffix=".php">test</directory>
        </testsuite>
    </testsuites>
    <logging>
        <log type="coverage-clover" target="build/logs/clover.xml"/>
    </logging>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">test</directory>
        </whitelist>
    </filter>
</phpunit>