<phpunit bootstrap="./test/bootstrap.php" colors="true" backupGlobals="false">
    <testsuites>
        <testsuite>
            <directory suffix=".php">./test</directory>
        </testsuite>
    </testsuites>
    <filter>
        <whitelist processUncoveredFilesFromWhitelist="true">
            <directory suffix=".php">./src</directory>
        </whitelist>
    </filter>
</phpunit>